body {
    font-family: "Inter", sans-serif;
}

.navbar-nav {
    margin-left: 220px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 0.75rem;
    display: flex;
    padding: 8px 15px;
    gap: 8px;
    align-items: center;
    border-radius: 0.375rem;
    font-weight: 300;
    margin-left: 5px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
    background-color: #3E69C9;
}

.navbar-nav .nav-link i {
    height: 13px;
}

.navbar-nav .nav-icon {
    padding: 8px 10px;
}

.navbar-nav .dropdown-menu {
    padding: 5px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 0.375rem;
}

.navbar-nav .dropdown-menu .dropdown-item.active,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #3E69C9;
    color: #fff;
}



.navbar-toggler {
    padding: 8px 10px;
    color: #fff;
    font-size: 0.85rem;
    border: none;
    box-shadow: none;
}

.navbar-toggler i {
    height: 16px;
}

@media only screen and (max-width: 767px) {
    .navbar-nav .nav-link {
        padding: 10px;
    }

    .navbar-nav {
        margin-left: 0px;
    }
}

.form-control:focus {
    box-shadow: none;
}

.form-container label {
    margin-bottom: 0px;
    font-size: 0.75rem;
}

.form-control,
.form-select option,
.form-select,
::placeholder {
    font-size: 0.75rem;
}

.page-heading {
    color: #3E69C9;
    margin-block: 7px;
    font-size: 0.85rem;
    padding: 2px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
}

.page-heading::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #3E69C9;
    top: 12px;
    position: absolute;
}

.form-container .form-label {
    font-size: 0.8rem;
    margin: 0;
    color: #757575;
}

.form-container .form-data {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 600;
    color: #151515;
}

.list-group .list-group-item {
    padding-inline: 2px;
    padding-block: 5px;
}

.btn-main {
    height: 36px;
    background-color: #3E69C9;
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
    border: none;
}

.btn-main:hover,
.btn-main:active,
.btn-main.show,
.btn-main:focus {
    height: 36px;
    background-color: #20438d !important;
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff !important;
    border: none !important;
}